@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";


:root{
  --primary-color:#cc7e08;
  --secondary-color:#03589e;
  --dark:#102d47;
  --inter-font:"Inter", sans-serif;
  --heading-font:"Bricolage Grotesque", sans-serif;
}

body{font-family:var(--inter-font); font-size:14px; color:var(--dark);}
.heading-font{font-family: var(--heading-font);}


.assignments .slick-track .slick-slide:nth-child(2n+1) a{margin-top:96px !important;}